<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
	<title><%= era %></title>
	<link rel="stylesheet" href="style/spinner.css">
	<link rel="stylesheet" href="style/main.css">
  <script src="js/socket.io.slim.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/howler.min.js"></script>
  <script src="js/main.js"></script>
</head>

<body>
  <div class="the<%= era %> bg"></div>
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>
  <div class="instruments"></div>
  <div class="waiting">
    <div class="waiting-text">waiting for other screen...</div>
  </div>
  <div class="mlab watermark-<%= era %>"></div>
  <script type="text/javascript">
    era = '<%= era %>';
  </script>
</body>
</html>